body {background: #000;
padding: 15px;}


.header {padding-bottom:33px;
}

.nav__link {background: #272829;
            border: 2px double #e812be;}



.a__nav {text-decoration:none;
   color:#fff;
   font-size:20px;
   margin:20px;
   font-family: 'Edu NSW ACT Foundation', cursive;}

.a__logo {color:#fff;
         font-size: 33px;
         font-family:'Delicious Handrawn', cursive;
         text-decoration:none;
         margin:20px;}



.footer {transform: translateY(200px);
         user-select: none;}

.a__footer {text-decoration:none;
            color: #fff;
            font-size:18px;
            padding:10px ;
            font-family: 'Edu NSW ACT Foundation', cursive;}

.i__footer {color:#fff;
            font-family: 'Edu NSW ACT Foundation', cursive;
            font-size: 18px;
            padding: 10px;
            }

.p__footer {font-family:'Delicious Handrawn', cursive;
            font-size: 25px;
            color: #fff;
            text-align: center;
            margin: 50px;
            border-style: solid;
            border-width:2px;} 

.a__logo:hover {color:#e812be;}
.a__nav:hover {color:#e812be;}
.a__footer:hover {color:#e812be;}
.i__footer:hover {color:#e812be;}


