* {margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;}

body {background: #000;}


.header {width: 100%;
         height: 80px;
         background: #11101b;
         border: 2px double #e812be;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 100px;
      }

.hamburger {display: none;}
.nav-bar ul {display: flex;}
.nav-bar, .active, .a__nav, ul, li  {display: block;
                                color: #fff;
                                font-size: 20px;
                                padding: 10px 25px;
                                margin: 0 5px;
                                text-decoration: none;}
.active {background: #000;
         border-radius: 50px;
         font-family: 'Edu NSW ACT Foundation', cursive;}

.a__nav {font-family: 'Edu NSW ACT Foundation', cursive;}

.a__logo {color:#fff;
         font-size: 33px;
         font-family:'Delicious Handrawn', cursive;
         text-decoration:none;
         margin:20px;}


.grid__container {display: grid;
                  grid-template-columns: repeat(5,315px);
                  grid-template-rows: repeat(5,555px);
                  margin-top: 75px;
                  grid-auto-columns:1fr;
                  grid-auto-rows:1fr;
                  grid-auto-flow:1;
                  justify-content: center;
                  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));}

img {width: 315px;
     height: 555px;}


.grid__item {transition-property: padding-right;
             transition-duration: 2s;}

.grid__item:nth-child(8) {}


.grid__item:hover {border: 4px solid #e812be;
                   padding-right:300px; 
               }


.footer {transform: translateY(100px);
         user-select: none;}

.a__footer {text-decoration:none;
            color: #fff;
            font-size:18px;
            padding:10px ;
            font-family: 'Edu NSW ACT Foundation', cursive;}

.i__footer {color:#fff;
            font-family: 'Edu NSW ACT Foundation', cursive;
            font-size: 18px;
            padding: 10px;
            }

.p__footer {font-family:'Delicious Handrawn', cursive;
            font-size: 25px;
            color: #fff;
            text-align: center;
            margin: 50px;
            border-style: solid;
            border-width:2px;} 

.a__logo:hover {color:#e812be;}
.active:hover {border-radius: 50px;}
.a__nav:hover {color:#e812be;
               background: #000;
               border-radius: 50px;}
.a__footer:hover {color:#e812be;}

@media only screen and (max-width: 1320px) {
   header {padding: 0 30px;}

@media only screen and (max-width: 1200px) {
   .hamburger {display: block;
               cursor: pointer;}
   
   .hamburger .line {width: 50px;
                     height: 10px;
                     background: #fff;
                     margin: 6px 0;}

   .nav-bar {height: 0px;
             position: absolute;
             top: 80px;
             left: 0p;
             right: 0;
             width: 100vw;
             background: #11101b;
             transition-duration: 0.3s;
             overflow: hidden;}

   .nav-bar.active {height: 600px;}
   .nav-bar ul {display: block;
               width: fit-content;
               margin: 80px auto 0 auto;
               text-align: center;
               transition: 0.5s;
               opacity: 0;}
   .nav-bar.active ul {opacity: 1;}

   .nav-bar ul li .a__nav .active {margin-bottom: 12px;}

    .p__footer {font-size: 40px;
               padding: 25px;}
      .i__footer {font-size: 15px;
                   padding: 5px;} 
      .a__footer {font-size: 25px;
                  padding: 10px;}
      .a__nav {font-size: 35px;}
      .active {font-size: 35px;}
      .a__logo {font-size: 40px;}

}

@media only screen and (max-width: 900px) {
   .hamburger {display: block;
               cursor: pointer;}

   .hamburger .line {width: 50px;
                     height: 10px;
                     background: #fff;
                     margin: 6px 0;}

   .nav-bar {height: 0px;
             position: absolute;
             top: 80px;
             left: 0p;
             right: 0;
             width: 100vw;
             background: #11101b;
             transition-duration: 0.3s;
             overflow: hidden;}

   .nav-bar.active {height: 450px;}
   .nav-bar ul {display: block;
               width: fit-content;
               margin: 80px auto 0 auto;
               text-align: center;
               transition: 0.5s;
               opacity: 0;}
   .nav-bar.active ul {opacity: 1;}

   .nav-bar ul li .a__nav .active {margin-bottom: 12px;}

   .p__footer {font-size: 30px;
               padding: 20px;}
      .i__footer {font-size: 10px;
                   padding: 5px;} 
      .a__footer {font-size: 20px;
                  padding: 10px;}
         .a__nav {font-size: 45px;}
         .active {font-size: 45px;}
         .a__logo {font-size: 60px;}

}